spring:
  datasource:
    url: jdbc:mariadb://localhost:3308/RodRo?createDatabaseIfNotExist=true
    username: root
    password:
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: true

  jackson:
    mapper:
      accept-case-insensitive-enums: true

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs